Flask==2.3.3
flask-cors==4.0.0
ultralytics==8.0.0
opencv-python-headless==4.5.5.64
numpy==1.21.6
torch==1.9.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.10.0 --index-url https://download.pytorch.org/whl/cpu
Pillow==9.0.0