Flask==2.3.3
flask-cors==4.0.0
ultralytics==8.0.20
opencv-python-headless==4.8.1.78
numpy==1.24.3
torch==2.0.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cpu
Pillow==10.0.0